<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Screen</title>
</head>
<body>
    <h1>Aplikasi Authorization Server</h1>

    <a href="logout">Logout</a>

    <h2>Selamat datang, <span th:text="${currentUser.principal.username}"></span></h2>

    <h3>Daftar Permission</h3>
    <ul>
        <li th:each="p : ${currentUser.authorities}" th:text="${p.authority}">Permission</li>
    </ul>
</body>
</html>